[ req ]
default_bits       = 2048
prompt            = no
default_md        = sha256
req_extensions    = req_ext
distinguished_name = dn

[ dn ]
C  = US
ST = Florida
L  = Miami
O  = MyLocalApp
OU = Development
CN = 172.25.0.2  # La IP principal del servidor

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
IP.1 = 172.25.0.2  # IP del servidor
IP.2 = 172.25.0.3  # Otra IP si el servidor puede usar varias
IP.3 = 172.25.0.100  # Puedes agregar más si necesitas
DNS.1 = myserver.local  # O un nombre de dominio interno
