[ req ]
default_bits       = 2048
prompt            = no
default_md        = sha256
distinguished_name = dn

[ dn ]
C  = US                     # Código del país (ejemplo: US para Estados Unidos)
ST = Florida                # Estado o provincia
L  = Miami                  # Ciudad o localidad
O  = MyLocalApp             # Nombre de la organización
OU = Development            # Unidad organizacional
CN = MFSG                   # Common Name (IP o dominio del servidor)
